<!-- <div class="container">
    <div class="row">
        <div class="col">

            <label class="col">Username</label>
           <input type="text" class="form-control col"  [(ngModel)]="username">
           <p>{{ username }}</p>

           <button class="btn btn-primary" [disabled]="username===''"
           (click)="onReset()">click</button>
        </div> 
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>USERNAME</label>
            <input type="text" class="form-control" [(ngModel)]='name'>
            <p>{{name}}</p>

        </div>
    </div>
</div>






